<launch>


<!-- HAL -->

      <node pkg="diff_bot"
            type="robot_node.py"
            name="robot_node"
            output="screen" />

      <node pkg="diff_bot"
            type="robot_node2.py"
            name="robot_node2"
            output="screen" />


<!-- Curve Follower -->
      
      <node pkg="diff_bot"
            type="hybrid.py"
            name="hybrid"
            output="screen" />

      <node pkg="diff_bot"
            type="hybrid2.py"
            name="hybrid2"
            output="screen" />

</launch>