<launch>


<!-- HAL -->

      <node pkg="diff_bot"
            type="robot_node.py"
            name="robot_node"
            output="screen" />


<!-- Curve Follower -->
      
      <node pkg="diff_bot"
            type="pathfollower.py"
            name="path_follower"
            output="screen" />

</launch>