<launch>


<!-- HAL -->

      <node pkg="diff_bot"
            type="robot_node.py"
            name="robot_node"
            output="screen" />


<!-- Tangent Bug -->
      
      <node pkg="diff_bot"
            type="tangentbug.py"
            name="tangent_bug"
            output="screen" />

</launch>